body{
    text-align: center;
	 background: url(paye.gif) no-repeat center center fixed;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 8px;
  margin-top: 350px ;
  
}
.form-group{
    display: inline-block;
    padding: 10px;
	font-size: 50px;
}